<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <a href="{% url 'home:index' %}">HOME</br></br></a>
  <body>
    <form action="{% url 'home:vote' question.id %}" method="post">
      {% csrf_token %}
      <fieldset>
          <legend><h1>{{ question.question_text }}</h1></legend>
          {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
          {% for choice in question.choice_set.all %}
              <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
              <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
          {% endfor %}
      </fieldset>
      <input type="submit" value="Vote">
      </form>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="Test Card BootStrap">Test Card</h5>
        <p class="card-text">
          test text for the card text area.
        </p>
        <a href="https://www.caecspace.com/" target="_blank"
          class="btn btn-primary">Check out my React Weather App!!</a>
      </div>
    </div>
    Hello Django!! It's me!! Carlos!!!
    <p>Welcome!!</p>
  </body>

</html>