
<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'home:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<link
rel="stylesheet"
type="text/css"
href="{% static 'home/css/bootstrap.css' %}"
/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="align-item-center justify-content-center" style="width: 18rem;" >
        <img src="{% static 'img/BW.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="Test Card BootStrap">Test Card</h5>
          <p class="card-text">
            test text for the card text area.
          </p>
          <a href="https://www.caecspace.com/" target="_blank" class="btn btn-primary">Check out my React Weather App!!</a>
        </div>
      </div>
    Hello Django!! It's me!! Carlos!!! 
    <p>Welcome!!</p>
</body>
</html>