
body {
  margin: auto;
  width: auto;
  text-align: left;
  font-size: 50px;
  background-color: "rgb(21, 20, 22)";
}

p {
  margin: auto;
  width: auto;
  text-align: left;
  font-size: 50px;
}

.card {
  align-items: center;
}
.card-body {
  align-items: center;
}